body{
  background-color: aquamarine;
}
button{
  background-color: blanchedalmond;
  padding:5px 20px;
  margin: 5px 10px;
  border-radius:5px;
}
b{
  text-align:center;
}
div{
  align-content: center;
}